@import "../App.scss";

.Footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #E6E6E7;
  padding: 32px 96px 44px 96px;
   @media screen and (max-width: 1060px) {
         padding: 32px 20px;

        }
  .Top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 32px;
     @media screen and (max-width: 1060px) {
          flex-direction: column;

        }
    img{
      max-width: 250px;

        @media screen and (max-width: 700px) {
           max-width: 176px;

        }
    }
    h2{
      color: $black;
      font-weight: 700;
      font-size: 15px;
      font-family: $titleFont;
      margin-top: 12px;
      margin-bottom: 16px;
    }

    section{
      display: flex;
      flex-direction: column;
          align-items: flex-start;
          @media screen and (max-width: 1060px) {
          margin-top: 15px;
          margin-bottom: 5px;

        }
          a{
            margin-bottom: 12px;
            cursor: pointer;
            color: $linkInactive;
            transition: $transition;
            font-size: $f-16;
            ;
            font-family: $titleFont;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            &:hover {
                color: #48495E;
            }
            .active{
              color: red;
            }
          }
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    border-top: 1px solid #E6E6E7;
    padding-top: 32px;
    a{
      color: $black;
    }
  }
}
.Linked{
  display: flex;
  align-items: center;
}

.SocialLinksList{
  display: flex;

  .SocialLinkItem{
  margin-right: 16px;
  }
}

.linkMention{
  &:hover{
    text-decoration: underline;
  }
}
.SocialLink, .ContactLink{
  &:hover{
    opacity: 0.7;
  }
}

a.LinkItems.active, a.DropdownItem.active{
  color: $linkactive !important;
}