@import '../App.scss';

.work-item3D {
    margin-top: 56px;
    margin-bottom: 72px;
    background: transparent !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    .section {
        width: 100%;
        border-radius: 24px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }



    }

    .modal {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $black;

        .modal-content {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .close {
            background-color: $white-1;
            width: 48px;
            height: 40px;
            border-radius: 12px;
            position: absolute;
            top: 60px;
            right: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .modal-image {
            width: 100%;
            object-fit: contain;
        }
    }
}