* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;800;900&display=swap');


//,


$titleFont: 'Montserrat Alternates', sans-serif;


//color
$black: #03041B;
$black-2: #323346;
$white-1: #FFF;

$blue-1: #171933;

$grey-1 : #F4F4F5;
$grey-clair: #F9F8F2;
$grey-fonce: #F2EEE2;

$grey-3: #E6E6E7;

//font 
$f-8: 0.5rem; // 8px
$f-12: 0.75rem; // 12px
$f-10: 0.625rem; // 10px
$f-15: 0.9375rem; // 15px
$f-16: 1rem; // 16px
$f-18: 1.125rem; // 18px
$f-19: 1.1875rem; // 19px
$f-24: 1.5rem; // 24px
$f-34: 2.125rem; // 34px
$f-38: 2.375rem; // 38px


$linkInactive: #7D7E89;
$linkHover: #48495E;

$linkactive: #171933;

$transition: .3s ease-in-out;


////////GENERAL STYLES////////
/// 
body {
    font-family: 'Montserrat', sans-serif;
    color: $black;
}

ul li {
    list-style: none;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}




.btnAction {
    background-color: $blue-1;
    color: $white-1;
    padding: 12px 20px;
    font-size: $f-18;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 16px;
    transition: $transition;
    min-height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;

    @media screen and (max-width: 700px) {
        width: 100%;
    }

    svg {
        margin-left: 10px;

        path {
            fill: $white-1;
            transition: $transition;
        }
    }

    &:hover {
        background-color: $linkHover;

        svg {
            path {
                fill: $white-1;
            }
        }
    }
}


/// STYLES 
/// 


.h1-default {
    font-size: $f-38;
    line-height: 50px;
    font-weight: 800;
    color: $black;
       @media screen and (max-width: 1060px) {
                   font-size: 28px;
                   line-height: 36px;
                }
}

.h1-alternate {
    font-size: $f-38;
    line-height: 100%;
    font-weight: 800;
    font-family: $titleFont;
    color: $black;
     @media screen and (max-width: 1060px) {
                   font-size: 28px;
                            line-height: 36px;
                }
}

.h2-alternate {
    font-size: $f-34;
    line-height: 42px;
    font-weight: 800;
    font-family: $titleFont;
    color: $black;
      @media screen and (max-width: 1060px) {
                   font-size: 25px;
                   line-height: 34px;
                }
}

.h3-alternate {
    font-size: $f-19;
    line-height: 100%;
    font-weight: 800;
    font-family: $titleFont;
    color: $black;
    text-transform: uppercase;
     @media screen and (max-width: 1060px) {
                   font-size: 18px;
                   line-height: 100%;
                }
}

.h4-alternate {
    font-size: $f-18;
    line-height: 24px;
    font-weight: 700;
    font-family: $titleFont;
    color: $black;
        @media screen and (max-width: 1060px) {
                   font-size: 18px;
                   line-height: 23px;
                }
}

.bodyL-regular {
    font-size: $f-18;
    line-height: 28px;
    font-weight: 400;
    color: $black;
}

.bodyM-bold {
    font-size: $f-16;
    line-height: 28px;
    font-weight: 600;
    color: $black;
}

.bodyM-medium {
    font-size: $f-16;
    line-height: 28px;
    font-weight: 500;
    color: $black;
}

.bodyM-regular {
    font-size: $f-16;
    line-height: 28px;
    font-weight: 500;
    color: $black;
}

.bodyM-regular-alternate {
    font-size: $f-16;
    line-height: 28px;
    color: $black;
    font-weight: 400;
    font-family: $titleFont;
}

.bodyS-regular {
    font-size: $f-15;
    line-height: 23px;
    color: $black;
    font-weight: 400;
}


///
/// 
//

.blockBtn {
    padding: 202px;
    padding-top: 96px;
    padding-bottom: 88px;

    @media screen and (max-width: 1060px) {
        padding: 48px 20px 74px 20px;
    }

    .contain {
        position: relative;
        padding: 64px 157px 89px 69px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        @media screen and (max-width: 1060px) {
            flex-direction: column;
            padding: 20px 20px 30px 20px;

        }

        .left {
                max-width: 52%;
            z-index: 200;

            @media screen and (max-width: 1060px) {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0px 50px;

            }

            @media screen and (max-width: 700px) {


                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px 0px;
                padding-right: 83px;

            }

            h2 {
                margin-bottom: 20px;

                @media screen and (max-width: 1060px) {
                    margin-bottom: 8px;
                    font-size: 25px;
                    text-align: center;

                }

                @media screen and (max-width: 700px) {
                    padding-right: 0px;

                    text-align: start;

                }
            }
        }

        .img-back {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            z-index: 10;

            @media screen and (max-width: 1060px) {
                right: -20px;
                top: 80px;

                svg {
                    width: 120%;
                }

            }

            svg {
                width: auto;
                height: 100%;

            }

        }

        .linkFirst {
            margin-left: 92px;
            z-index: 200;

            @media screen and (max-width: 1060px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media screen and (max-width: 1060px) {
                margin-left: 0px;
                margin-top: 24px;
                width: 100%;

                .btnAction {

                    @media screen and (max-width: 700px) {
                        width: 100%;
                    }
                }





            }
        }
    }
}