@import '../App.scss';

.about-container {

    overflow: hidden;

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-bottom: 80px;
        padding-top: 53px;

        @media screen and (max-width: 700px) {
            padding-bottom: 40px;
            padding-top: 24px;
            align-items: flex-start;
            justify-content: center;
        }

        .title {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            h1{
                 @media screen and (max-width: 700px) {
           padding-right: 20px;
        }
            }

            .elementRotate{
                display: inline-block; // Permet le transform
            transform: rotate(-2deg);
            }

    

            span {
                 margin-left: 14px;
                rotate: -2deg;
                position: relative;

                svg {
                   position: absolute;
    bottom: -8px;
    left: -3%;
    z-index: -1;
    width: 110%;
                }
            }
        }

        p {
            max-width: 670px;
            text-align: center;
            margin-bottom: 32px;
            color: #323346;

            @media screen and (max-width: 700px) {
                text-align: start;
            }
        }

        a {
            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }
    }

}

.about-container {
    .block13 {
        padding: 80px 96px;

        @media screen and (max-width: 1060px) {
            padding: 48px 20px;
        }
    }

    .contain {
        background-color: $grey-clair;
        padding: 48px 56px;
        border-radius: 32px;

        @media screen and (max-width: 1060px) {
            padding: 24px;
        }

        .main {
            margin-top: 32px;
            display: flex;
            gap: 32px;

            @media screen and (max-width: 1060px) {
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;
            }

            .paragraph {
                padding: 24px;
                background-color: $grey-fonce;
                border-radius: 24px;

                h3 {
                    margin-bottom: 8px;
                }
            }
        }
    }
}


.about-container {
    .block14 {
        background-color: $grey-fonce;
        padding: 96px 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

         @media screen and (max-width: 1060px) {
        padding: 48px 150px;

        }

        @media screen and (max-width: 700px) {
            padding: 48px 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
       

        h2 {
            margin-bottom: 48px;
            font-weight: 900;

            @media screen and (max-width: 1060px) {
                margin-bottom: 24px;
                font-size: 25px;
                max-width: 70%;
                line-height: 34px;
            }
        }

        .paragraphs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 24px;
            max-width: 1036px;

            .paragraph {
                padding: 24px;
                width: 48%;
                min-height: 126px;
                background-color: $white-1;
                border-radius: 16px;
                border: 1px solid #E6E6E7;
                cursor: pointer;
                transition: border-color 0.3s ease;

                @media screen and (max-width: 1060px) {
                    width: 100%;
                    min-height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                @media screen and (max-width: 700px) {
                    width: 100%;
                    min-height: auto;
                        display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                &:hover {
                    border-color: #48495E;
                }

                h3 {
                    margin-bottom: 7px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.carousselBlock {
    padding: 20px;
    overflow: hidden;

    .carousel-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 28px;

        @media screen and (max-width: 1060px) {
            gap: 20px;
        }

        will-change: transform;

        img {
            object-fit: cover;
            height: 365px;
            width: 274px;
            flex-shrink: 0;
            border-radius: 20px;

            @media screen and (max-width: 1060px) {
                height: 282px;
                width: 212px;
            }
        }
    }
}