@import '../App.scss';

.contact {
        padding-top: 150px;
           
        @media screen and (max-width: 700px) {
             padding-top: 90px;
        }


    .intro {
        padding: 96px;
        padding-top: 13px;

        @media screen and (max-width: 1060px) {
            padding: 0px;
        }

        .content {
            background-color: $grey-fonce;
            padding: 56px 64px;
            border-radius: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;

            @media screen and (max-width: 1060px) {
                flex-direction: column;
                padding: 24px 20px;
                padding-bottom: 48px;
                border-radius: 0px;
            }

            overflow: hidden;

            .left {
                width: 55%;
                padding-right: 87px;
                padding-top: 24px;

                @media screen and (max-width: 1060px) {
                    width: 100%;
                    padding-right: 0px;
                    padding-top: 0px;
                }
            }

            h1 {
                margin-bottom: 24px;

                @media screen and (max-width: 1060px) {
                    margin-bottom: 4px;
                        padding-right: 80px;
                }

                span {
                    display: inline-block;
                    text-transform: uppercase;
                    transform: rotate(-1deg);
                    margin-left: 12px;
                    position: relative;

                    @media screen and (max-width: 1060px) {
                        margin-left: 0px;
                    }

                    svg {
                        position: absolute;
                        bottom: -8px;
                        right: -14px;
                        z-index: -1;
                        max-width: 110%;
                    }
                }
            }
            p{
                color: #323346;
            }

            p:first-child {
                margin-top: 24px;
                margin-bottom: 16px;

                @media screen and (max-width: 1060px) {
                    margin-top: 12px;
                     margin-bottom: 12px;
                }

            }
        }

        .right {
            background-color: $white-1;
            padding: 32px;
            border-radius: 24px;
            z-index: 100;

            @media screen and (max-width: 1060px) {
                width: 100%;
                margin-top: 24px;
                padding: 24px 20px;
                padding-bottom: 28px;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @media screen and (max-width: 1060px) {
                    width: 100%;

                }
            }

            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 28px;
                width: 100%;

                @media screen and (max-width: 1060px) {
                    width: 100%;
                }

                label {
                    margin-bottom: 8px;
                }
            }

            input, textarea {
                &::placeholder {
                    color: #585867;
                }
                @extend .bodyS-regular;
                padding: 16px 20px;
                border-radius: 16px;
                background-color: #FCFCFB;
                border: 1px solid #E6E6E7;
                width: 480px;
                transition: $transition;
                outline: none;
                color: #03041B;
                &:hover{
                    border-color: #C5C5CA;
                }
                &:focus{
                    border-color: #C5C5CA;
                }

                @media screen and (max-width: 1260px) {
                    width: 300px;

                }

                @media screen and (max-width: 1060px) {
                    width: 100%;
                }
            }

            .error-message{
                color: #BB0000;
                          @extend .bodyS-regular;
                margin-top: 12px;
            }
            .error{
      
                border-color: #BB0000;
            }

            .btnAction {
                margin-top: 12px;

                svg {
                    margin-right: 8px;

                    path {
                        fill: $white-1;
                    }
                }
            }

        }

        .svgBack {
            position: absolute;
            top: -0px;
            right: -0px;
            z-index: 0;
            height: 120%;

            @media screen and (max-width: 1060px) {
                bottom: -30%;
            }


            path {
                height: 100%;
            }

        }
    }

    .contact-info {
        padding: 96px 202px;
        background-color: $grey-clair;
        margin-bottom: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1060px) {
            padding: 48px 20px;
            margin-bottom: 0px;
        }

        h2 {
            margin-bottom: 56px;

            @media screen and (max-width: 1060px) {
                margin-bottom: 24px;
            }
        }

        main {
            display: flex;
            justify-content: center;
            gap: 24px;
            width: 100%;

            @media screen and (max-width: 1060px) {
                flex-direction: column;
                align-items: center;
            }

            p {
                padding: 24px 32px;
                width: 48%;
                background-color: $white-1;
                border-radius: 16px;
                border: 1px solid #E6E6E7;
                cursor: pointer;
                transition: border-color 0.3s ease;

                @media screen and (max-width: 1060px) {
                    width: 100%;
                    padding: 24px 20px;
                }

                h3 {
                    margin-bottom: 7px;
                }
        

                a {
                    text-decoration: none;
                    border-bottom: 1px solid #171933;
                    line-height: 24px;
                    padding-bottom: 2px;
                    &:hover{
                        border-color: #48495E;
                    }
                }
            }
        }
    }

}

.congrat-section {
    padding: 13px 96px 96px 96px;

    @media screen and (max-width: 1060px) {
        padding: 0px;
        border-radius: 0px;
    }

    main {
        @media screen and (max-width: 1060px) {
            padding: 24px 20px 48px 20px;
            border-radius: 0px;
        }

        border-radius: 40px;
        background-color: $grey-fonce;
        padding: 64px 80px;
        padding-bottom: 96px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        overflow: hidden;

        >svg {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
        p{
            z-index: 100;
            color: #323346;
                   @media screen and (max-width: 1060px) {
                font-size: 16px;
        }
        }

        h2 {
            margin-bottom: 16px;
            position: relative;
            z-index: 100;
             @media screen and (max-width: 1060px) {
                margin-bottom: 16px;
        }

            span {
                z-index: 10;
                display: inline-flex;
                position: relative;
            }

            svg {
                display: block;
                position: absolute;
                bottom: 0;
                left: -2%;
                width: 104%;
                z-index: 1;
            }
        }
    }
}

.contact .inactive {
    display: none;
}