@import '../App.scss';

.contact{

    .intro{
        padding: 96px;
        padding-top: 13px;
           @media screen and (max-width: 1060px) {
                padding:0px;
                }
        .content{
            background-color: $grey-fonce;
            padding: 64px;
            border-radius: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            @media screen and (max-width: 1060px) {
               flex-direction: column;
                     padding: 28px 20px;
                padding-bottom: 48px;
                border-radius: 0px;
                }

        overflow: hidden;

            .left{
                width: 55%;
                padding-right: 79px;
                @media screen and (max-width: 1060px) {
                  width:100%;
                  padding-right: 0px;
                }
            }

            h1{
                margin-bottom: 24px;
                 @media screen and (max-width: 1060px) {
                margin-bottom: 0px;
                }
                 @media screen and (max-width: 1060px) {
                   padding-right: 80px;
                }
                span{
                    display: inline-block;
                    text-transform: uppercase;
                    transform: rotate(-1deg);
                     margin-left: 12px;
                position: relative;
                 @media screen and (max-width: 1060px) {
                     margin-left: 0px;
                }

                svg {
                    position: absolute;
                    bottom: -8px;
                    right: -14px;
                    z-index: -1;
                max-width: 110%;
                }
                }
            }
            p:first-child{
                margin-top: 24px;
                margin-bottom: 16px;
                   @media screen and (max-width: 1060px) {
                margin-top: 16px;
                }
                
            }
        }

        .right{
            background-color: $white-1;
            padding: 32px;
            border-radius: 24px;
            z-index: 100;
              @media screen and (max-width: 1060px) {
                  width:100%;
                  margin-top: 24px;
                }
            form{
                 display: flex;
            flex-direction: column;
            align-items: flex-end;
              @media screen and (max-width: 1060px) {
                  width:100%;
       
                }
            }
           
            .form-group{
                display: flex;
                flex-direction: column;
                margin-bottom: 28px;
                  width:100%;
                  @media screen and (max-width: 1060px) {
                  width:100%;
                }

                label{
                    margin-bottom: 8px;
                }
            }

            input{
                @extend .bodyS-regular;
                padding: 16px 20px;
                border-radius: 12px;
                background-color: #FCFCFB;
                border: 1px solid #E6E6E7;
                width: 480px;
                 @media screen and (max-width: 1260px) {
                  width: 300px;

                }
                  @media screen and (max-width: 1060px) {
                  width:100%;
                }
            }

            .btnAction{
                margin-top: 12px;
                svg{
                    margin-right: 8px;
                    path{
                        fill: $white-1;
                    }
                }   
            }
            
        }
        .svgBack{
            position: absolute;
            top: -0px;
            right: -0px;
            z-index: 0;
            height: 120%;

            @media screen and (max-width: 1060px) {
                    bottom: -30%;
                }

          
            path{
                  height: 100%;
            }
    
        }
    }

    .contact-info{
        padding: 200px;
        padding-bottom: 103px;
        padding-top: 89px;
        background-color: $grey-clair;
        margin-bottom: 170px;
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
          @media screen and (max-width: 1060px) {
                padding: 48px 20px;
                }
        h2{
            margin-bottom: 55px;
               @media screen and (max-width: 1060px) {
                    margin-bottom: 24px;
                }
        }
        main{
            display: flex;
            justify-content:center;
            gap: 24px;
            width: 100%;
             @media screen and (max-width: 1060px) {
                    flex-direction: column;
                    align-items: center;
                }
            p{
               padding: 24px 32px;
                width: 48%;
                background-color: $white-1;
                border-radius: 16px;
                border: 1px solid #E6E6E7;
                cursor: pointer;
                transition: border-color 0.3s ease;
                @media screen and (max-width: 1060px) {
                  width: 100%;
                }
           
                h3{
                    margin-bottom: 7px;
                }
                a{
                    text-decoration: underline;
                }
            }
        }
    }

}