@import '../App.scss';

.contact {
    .intro {
        padding: 13px 96px;

        .content {
            background-color: $grey-fonce;
            padding: 64px;
            border-radius: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        .left {
            max-width: 497px;
            height: 100%;

            h1 {
                font-size: $f-38;
                font-weight: 800;
                margin-bottom: 27px;

                .subtitle-inline {
                    font-size: $f-38;
                    font-weight: 800;
                    font-family: $titleFont;
                    text-transform: uppercase;
                    transform: rotate(-20deg);
        
                }
            }

            p {
                margin-bottom: 16px;
                font-size: $f-16;
                font-weight: 400;
            }
        }

        .right {
            background-color: $white-1;
            border-radius: 24px;
            padding: 32px;
            display: flex;
            flex-direction: column;

            form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 28px;

                label {
                    margin-bottom: 8px;
                    font-size: $f-16;
                    font-weight: 500;
                }

                input {
                    width: 480px;
                    height: 50px;
                    border-radius: 16px;
                    border: 1px solid #E6E6E7;
                    padding: 16px 20px;
                    font-size: 15px;
                    outline: #E6E6E7;
                }

                p {
                    font-size: 15px;
                    color: #BB0000;
                    margin-top: 12px;
                    font-weight: 400;
                }
            }
        }

    }

    input.error {
        border: 1px solid #BB0000 !important;
    }

    .form-group p {
        color: #BB0000;
        font-size: 0.85rem;
        margin-top: 4px;
    }

}

.contact-info {
    margin-top: 96px;
    background-color: $grey-clair;
    padding: 100px 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 170px;

    main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    h2 {
        font-size: $f-34;
        font-weight: 800;
        margin-bottom: 55px;
        font-family: $titleFont;
    }

    p {
        background-color: $white-1;
        border: 1px solid #E6E6E7;
        padding: 22px 34px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        min-width: 506px;

        h3 {
            font-size: $f-19;
            font-weight: 800;
            font-family: $titleFont;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        a {
            text-decoration: underline;
            color: #171933;
            font-size: 16px;
        }

    }

}