@import '../App.scss';


.mentions-legales{
    padding: 44px 106px 88px 106px;
    ul{ 
       margin-bottom: 24px;
    }
    h1{
        margin-bottom: 44px;
    }
    h3{
        margin-bottom: 12px;
    }
}