@import '../App.scss';


.surface {
    padding: 0px 96px;
    .surface-header {
        margin-top: 30px;
        margin-bottom: 46px;
        display: flex;
        align-items: center;

        h1 {
          @extend .text-style--h1Alternates;
        }
         h2 {
          @extend .text-style--h1Default;
          margin-left: 12px;
          transform: rotate(-2deg);
        }
    }
    

    main{
        background-color: $grey-clair;
        padding: 32px;
        border-radius: 32px;
        display: flex;
        justify-content: space-between;
        .hero{
            padding: 20px 0;
            p{
                margin-bottom: 16px;
                font-size: 18px;
                line-height: 28px;
            }
        }

        .info-block{
            background-color: $grey-fonce;
            max-width: 420px;
            width: 100%;
            padding: 32px;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h3{
                font-size: 22px;
                line-height: 30px;
                font-weight: 800;
                font-family: $titleFont;
                margin-bottom: 8px;
            }
            h4{
                background-color: $white-1;
                border-radius: 8px;
                transform: rotate(2deg);
                  font-size: 22px;
                line-height: 28px;
                font-weight: 800;
                                font-family: $titleFont;
                                padding: 8px 16px;
            }
            p{
                margin-top: 16px;
                font-size: $f-16;
                line-height: 24px;
            }
        }
    }
}